@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*css reset*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorone: #F7F7F7;
  --colortwo: #d3d3d3;
}

body {
  font-family: 'Poppins', sans-serif;
}

.recipe-card {
  position: relative;
  /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
  margin: 80px auto;
  /* Dit element heeft een vaste breedte van 350 pixels */
  width: 350px;
  border: 1px solid darkgray;
  border-radius: 4px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.title-recipe {
  font-weight: 500;
  padding: 1.4rem;
}

.recipe-image {
  width: 100%;
}

/* - Vul dit document aan met jouw eigen css! - */

.article-details {
  margin-top: -9px;
  background-color: var(--colorone);
  padding: .6rem 0;

}

.details-item {
  margin-inline: 10px;

  img {
    height: .9rem;
    margin-inline: 5px;
    /*vertical-align: middle;*/
  }
}

.favourite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}


