@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-orange: #DE6127;
  --color-light-grey: #e8e8e8;
  --dark-grey: #737373;
  --sphere-color-one: #faa0c7;
  --sphere-color-two: #272729;
  --sphere-color-three: #928471;
  --sphere-color-four: #c2c2b4;
}

body {
  font-family: 'Poppins', sans-serif;
}

.product {
  /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
  margin: 80px auto;
  /* Dit element heeft een vaste breedte van 350 pixels */
  width: 350px;
}

/* - Vul dit document aan met jouw eigen css! - */
/* Image part of the article  */
.image-wrapper {
  position: relative;

}

.image-model {
  width: 100%;

}

.cta-btn-image {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.extra-highlight {
  position: absolute;
  top: 3rem;
  /*right: calc(100% - 1.4rem);*/
  left: -3.61rem;
  padding: .5rem 1.5rem;
  width: 80px;
  font-weight: 600;
  height: 35px;
  background-color: var(--color-light-grey);
  color: var(--color-orange);
  text-transform: uppercase;
  transform: rotate(-90deg);
}

/* All details of the article  */
.article-details {

  & small {
    color: var(--dark-grey);
    font-weight: 600;
  }

  & h4 {
    font-weight: 600;
  }
}

.sphere-colors {
  & span {

    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-right: .4rem;
    cursor: pointer;
  }
}

.sphere-first-color {
  background-color: var(--sphere-color-one);
}

.sphere-second-color {
  background-color: var(--sphere-color-two);
}

.sphere-tirth-color {
  background-color: var(--sphere-color-three);
}

.sphere-fourth-color {
  background-color: var(--sphere-color-four);
}

.price-article {
  font-weight: 500;
}